<% include partials/header.ejs %>


</head>
<body>

<div class="container-fluid">
  <div class="row">

    <h2>fans page</h2>

    <div class="column">
      <%# image from https://www.wallpaperup.com/285932/eggs_waves_orange_surfing_bacon.html %>
      <img class="background" src="/images/ron_swanson_fans.jpg">
    </div>

    <% templateRons.forEach((ron) => {%>

        <ul>
          <li><%=ron.quote%>    <form action="/rons/<%=ron._id%>" method="post">
                <input type="hidden" name="_method" value="DELETE">
                <input type="submit" class="btn btn-danger btn-sm" value="Delete">
              </form>
          </li>
        </ul>

    <%})%>
  </div>
</div>


<% include partials/end.ejs %>
