<% include partials/header.ejs %>

<title>Home Page</title>
  </head>
  <body>

  <div class="container">

  <div class="page-header">
      <h2>Testing Home Page</h2>
  </div>

  <div class="jumbotron">

    <p>
      <a href="#" class="btn default btn-sm" role="button">More Info</a>
      <button type="submit" class="btn btn-danger btn-sm" role="button">Button</button>
    </p>

  </div>

<% include partials/header.ejs %>
