<% include partials/header.ejs %>

  <script src='../vendor/axios.min.js'></script>
  <script src='../js/main.js'></script>
</head>
<body>

<%# <h4>are you bacon worthy...</h4>
<a href="/">See the cool home page again</a>
<hr> %>

  <div class="container-fluid">
    <div class="row">

      <div class="column">
        <img class="background" src="/images/ron_swanson_stage.jpg">
      </div>


      <div class="col-sm">
        <a href="/fans">
          <button id="fans" type="button" class="btn btn-primary btn-sm">Click Here To See Other Fan's Quote</button>
        </a>
      </div>

      <div class="col-sm">
        <p id="external">"Pull API quote"</p>
      </div>

      <form id="addQuote" action="/fans" method="post">
        <input type="text" name="quote" placeholder="What would Ron say?">
        <input type="submit" class="btn btn-primary btn-sm" value="add quote">
      </form>

  </div>
</div>

<% include partials/end.ejs %>
