<% include partials/header.ejs %>

  <link rel="stylesheet" href="css/style_rons.css">
  <script src='../vendor/axios.min.js'></script>
  <script src='../js/main.js'></script>
</head>
<body>


<div class="container-fluid">
    <div class="row">
      <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
      </div>

        <div class="column">
          <%# image from https://wallup.net/minimalism-humor-ron-swanson-parks-and-rec/ %>
          <img class="background" src="/images/ron_swanson_stage.jpg">
        </div>

        <div class="col-xs">
          <a href="/fans">
            <button id="fans" type="button" class="btn btn-primary btn-sm">Click Here To See Other Fan's Quote</button>
          </a>
        </div>

        <div class="col-sm">
          <p id="external">Are You Bacon Worthy?</p>
        </div>

        <form id="addQuote" action="/fans" method="post">
          <input type="text" name="quote" placeholder="What would Ron say?">
          <input type="submit" class="btn btn-primary btn-sm" value="add quote">
        </form>
    </div>
        <div class="row">
          <img id="yes" src="/images/ron_swanson_answer_yes1.jpg">
          <img id="no" src="/images/ron_swanson_answer_no1.jpg">
        </div>
        <div class="row">
          <button id="start" type="button" class="btn btn-success btn-md">Start</button>
          <%# <button id="next" type="button" class="btn btn-success btn-md">Next Quote</button> %>
        </div>

        <div class="row">
          <p id="question">Is this a real Ron Swanson quote?</p>
        </div>

        <div>
          <img id="gif" class="show-hide-z" src="https://thumbs.gfycat.com/FrayedJovialCottontail-size_restricted.gif">
        </div>
        <div>
          <img id="gifNo" class="show-hide-z" src="https://thumbs.gfycat.com/AppropriateKindColt-size_restricted.gif">
        </div>
        <div>
          <img id="gifDance" src="/images/ron_swanson_dance.gif">
        </div>
        <div>
          <img id="winBacon" src="/images/bacon.png">
        </div>
</div>

<% include partials/end.ejs %>
