<% include partials/header.ejs %>

<h4>Let's see if you are bacon worthy...</h4>
<a href="/">See the cool home page again</a>
<hr>

  <form action="/rons" method="post">
    <input type="text" name="quote" placeholder="What would Ron say?">
    <input type="submit" value="add quote">
  </form>

  <br>
  <br>


  <% templateRons.forEach((ron) => {%>

      <ul>
        <li><%=ron.quote%>    <form action="/rons/<%=ron._id%>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <input type="submit" class="btn btn-danger btn-sm" value="Delete">
            </form>
        </li>
      </ul>

  <%})%>



<% include partials/end.ejs %>
