<% include partials/header.ejs %>

<h4>Let's see if you are bacon worthy...</h4>
<a href="/">See the cool home page again</a>
<hr>

  <form action="/rons" method="post">
    <input type="text" name="quote" placeholder="What would Ron say?">
    <input type="submit" value="add quote">
  </form>

  <% templateRons.forEach((ron) => {%>
    <a href="/rons/<%=ron._id%>">
      <ul>
        <li><%=ron.quote%><form action="/rons/<%=ron._id%>" method="post">
              <input type="hidden" name="_method" value="DELETE">
              <button type="button" class="btn btn-danger btn-sm">Delete</button>
            </form></li>
      </ul>
    </a>



    <%})%>
<% include partials/end.ejs %>
