.background {
  position: absolute;
  width: 100%;
  height: auto;
}

form {
  position: absolute;
  z-index: 1;
  /* display: inline-block; */
}

#fans {
  position: absolute;
}

#addQuote {
  left: 1160px;
}

#external {
  position: absolute;
  font-size: 30px;
  top: 140px;
  text-align: center;
  color: white;
}

#yes {
  position: absolute;
  top: 300px
  left: 500px;
  height: 200px;
  width: 200px;
}

#no {
  position: absolute;
  height: 200px;
  width: 200px;
  left: 500px
}
