.background {
  position: absolute;
  width: 100%;
  height: auto;
}

form {
  position: absolute;
  z-index: 1;
  /* display: inline-block; */
}

#fans {
  position: absolute;
}

#addQuote {
  left: 1160px;
}

#external {
  position: absolute;
  font-size: 30px;
  top: 140px;
  text-align: center;
  color: white;
}

#yes {
  position: absolute;
  bottom: 250px;
  height: 100px;
  width: 90px;
  left: 650px;
  /* z-index: -1; */
}

#no {
  position: absolute;
  bottom: 250px;
  height: 100px;
  width: 90px;
  left: 1000px
}

#start {
  position: absolute;
  top: 80px;
}

.progress {
  bottom: 300px;
}
