.background {
  position: absolute;
  width: 100%;
  height: auto;
}

form {
  position: absolute;
  z-index: 1;
  /* display: inline-block; */
}

#fans {
  position: absolute;
}

#addQuote {
  left: 1160px;
}

#external {
  position: absolute;
  font-size: 30px;
  top: 140px;
  text-align: center;
  color: white;
}

#question {
  position: absolute;
  font-size: 30px;
  color: white;
  top: 280px;
  left: 650px;
}

#yes {
  position: absolute;
  bottom: 390px;
  height: 100px;
  width: 90px;
  left: 650px;
  opacity: 0.8;
  /* z-index: -1; */
}

#yes:hover {
  background-color: green;
  opacity: 1;
}

#no {
  position: absolute;
  bottom: 390px;
  height: 100px;
  width: 90px;
  left: 1000px;
  opacity: 0.8;
}

#no:hover {
  background-color: red;
  opacity: 1;
}

#start {
  position: absolute;
  top: 80px;
  left: 10px;
}

/* #next {
  position: absolute;
  top: 80px;
  left: 100px;
} */

/* .progress {
  bottom: 300px;
} */



#gif {
  position: absolute;
  z-index: -1;
  left: 620px;
  top: 450px;
}

#gifNo {
  position: absolute;
  z-index: -1;
  left: 710px;
  top: 450px;
}
/* .show-hide-z {
  z-index: -1;
} */
