.background {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 0;
}

#egg {
  position: absolute;
  /* width: 100%;
  height:auto; */
  height: 90px;
  width: 90px;
  top: 180px;
  left: 780px;
}

form {
  position: absolute;
  z-index: 1;
  display: inline-block;
}

#addQuote {
  left: 1150px;
  bottom: -240px;
}

.external {
  position: absolute;
  z-index: 1;
}
